html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body{
	font-family: Helvetica;
	background: #f4f4f1;
}
body{
	padding-top: 40px;
}
a{
	cursor: pointer;
}
.wrapper{
	max-width: 400px;
	margin: 0 auto;
	padding: 24px 18px;
	color: white;
}

span, a{
	display: block;
	font-size: 30px;
	margin: 6px 0;
}
table{
	vertical-align: middle;
	width: 100%;
	background: #3b5da4;
}
table td{
	vertical-align: middle;
	text-align: center;
	padding: 20px 40px;
}
table td:first-child{
	width: 43%;
	height: 50%;
}
#td1{
	min-height: 300px;
	background: #58c3e5;
}
#td3{
	min-height: 300px;
	background: #0da4d5;
}
h2{
	display: inline-block;
	text-align: center;
	font-weight: bold;
	font-size: 38px;
	margin: 10px 0;
}
.container{
	margin: 10px 0;
}
input, div.select, a.button{
	height: 44px;
	line-height: 44px;
	text-align: center;
	border: none;
	display: inline-block;
	text-align: center;
	background: white;
	font-size: 29px;
	width: 100%;
	margin: 10px 0;
	color: #333538;
	padding: 0;
	border: 1px solid rgba(0, 0, 0, 0);
	vertical-align: top;
}
input[type="text"]{
	width: 99%;
}
input[type="text"].numeric{
	width: 14%;
	vertical-align: top;
}
.justify{
	text-align: justify;
}
.justify:after{
	width: 100%;
	content: "";
	display: inline-block;
}
div.select{
	width: 100%;
	position: relative;
	cursor: pointer;
	background: url(../img/select.png) 95% 50% no-repeat white;
	overflow: hidden;
}
div.select span{
	display: block;
	width: 100%;
	margin: 0;
	background: white;
	background: url(../img/select.png) 95% 16px no-repeat white;
}
div.select ul{
	position: absolute;
	width: 100%;
	height: 0;
	overflow: hidden;
	text-align: center;
	background: white;
	cursor: pointer;
}
div.select li{
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 2px 10px;
}
div.select ul li:hover{
	background: rgba(0, 0, 0, 0.1);
}
input[type="submit"], a.button{
	display: inline-block;
	background: #2c4d91;
	color: white;
	cursor: pointer;
	height: 46px;
	text-decoration: none;
}
input[type="submit"].alt-back, a.button.alt-back{
	background: #193e88;
}
input[type="submit"]:hover, a.button:hover{
	background: #3b5da4;
}
input[type="submit"].alt-back:hover, , a.button.alt-back:hover{
	background: #2953a9;
}
table input[type="radio"]{
	display: none;
}
input[type="radio"] + span{
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/radio.png) center center no-repeat;
	cursor: pointer;
	vertical-align: top;
	margin: 9px 10px 0 0;
}
input[type="radio"]:checked + span{
	background: url(../img/radio_ch.png) center center no-repeat;
}
label{
	cursor: pointer;
	display: inline-block;
	font-size: 32px;
	line-height: 45px;
	height: 46px;
}
.labels{
	text-align: justify;
	font-style: 0;
}
.labels:after{
	display: inline-block;
	width: 100%;
	content: "";
}
.sort_buttons{
	width: 100.5%;
	margin-top: 10px;
}
.sort_buttons a{
	display: inline-block;
	width: 50%;
	padding: 6px 0;
	text-align: center;
	background: #0da4d5;
	font-weight: bold;
}
.sort_buttons a:hover{
	background: #00b0e9;
}
.sort_buttons a:first-child{
	background: #5dbad7;
}
.sort_buttons a:first-child:hover{
	background: #44bce2;
}
.items{
	display: inline-block;
	overflow-y: scroll;
    width: 97%;
	height: 530px;
	padding: 18px 12px 18px 0;
	text-align: left;
	background: #43464c;
	margin: 0 0 20px;
}
.item{
	background: url(../img/list.png) 10px 3px no-repeat;
	padding: 0 0 0 26px;
	margin-bottom: 10px;
	font-size: 22px;
	cursor: pointer;
}
.item.item-open{
	background: url(../img/list_op.png) 4px 6px no-repeat;
}
.item::before{
	content: "";
}
.item textarea{
	font-family: Helvetica;
	font-size: 16px;
	height: 0px;
	padding: 0;
	display: block;
	border: none;
	resize: none;
	width: 85%;
	-webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.item.item-open textarea{
	height: auto;
	padding: 10px;
	margin: 10px 0 22px 0;
}
.del{
	display: none;
	color: #ee4f3d;
	float: right;
	font-size: 18px;
}
.item:hover .del{
	display: block;
}
div.items + input[type="submit"].alt-back, input[type="submit"].red-submit, a.red-submit{
	background: #d14841;
	margin-bottom: 10px;
}
div.items + input[type="submit"].alt-back:hover, div.items + input[type="submit"].alt-back:active, input[type="submit"].red-submit:hover, input[type="submit"].red-submit:active, a.red-submit:active, a.red-submit:hover{
	background: #e14938;
}
div.select-open{
	overflow: visible;
}
div.select-open ul{
	height: auto;
	z-index: 1;
}

.user-found{
	margin-bottom: 16px;
	text-align: center;
	font-size: 30px;
}
.user-found a{
	display: block;
	color: white;
	text-decoration: none;
}
.user-found a img{
	display: block;
	margin: 0 auto 10px;
	border: 1px solid white;
}
.user-found a:hover{
	text-decoration: underline;
}
#debug{
	position: absolute;
	background: black;
	color: white;
	width: 300px;
	padding: 10px;
	top: 0;
	left: 0;
}
.hidden{
	visibility: hidden;
}
.select input[type="text"]{
	margin: 0;
}