<!DOCTYPE HTML>
<html ng-app='application'>

<head>
  <meta charset="utf-8">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js" defer></script>
  <script src="js/ang.js" defer></script>
  <script src="js/filters.js" defer></script>
  <script src="js/script.js" defer></script>
  <link rel="stylesheet" href="css/style.css">
</head>

<body ng-controller="appController">
  <div id="debug" data-toggle-key="hidden" class="hidden">
    <ul>
      <li>
        $scope.userData.userId - {{userData.userId}}
      </li>
      <li>
        $scope.userData.userSubscriptions.length - {{userData.userSubscriptions.length}}
      </li>
      <li>
        $scope.searchByThisPublic.id - {{searchByThisPublic.id}}
      </li>
      <li>
        $scope.usersFound.length - {{usersFound.length}}
      </li>
      <li>
        $scope.scrollingIndex - {{scrollingIndex}}
      </li>
      <li>
        $scope.peopleFilterData.city - {{peopleFilterData.city}}
      </li>
    </ul>
  </div>
  <div class="wrapper">
    <table>
      <tr>
        <td>
          <form ng-submit="makeSearch()">
            <input type="text" placeholder="Ваш id" ng-model="userData.userId" pattern="^[0-9]+$" required ng-change="updateUser();"><br>
            <div class="justify" ng-repeat="publicForSearch in searchByThisPublics">
              <div class="select" data-toggle="select-open" data-select>
                <span>{{publicForSearch.name}}</span>
                <ul>
                  <li ng-repeat="public in userData.userSubscriptions" ng-click="changeSearchPublic($index, $parent.$index)">{{public.name}}</li>
                </ul>
              </div>
            </div>
            <a ng-click="addPublic()">Добавить паблик</a>
            <input type="submit" value="Поиск" class="red-submit">
          </form>
        </td>
      </tr>
      <tr>
        <td id="td3">
          <div class="container">
            <div class="container labels">
              <label for="rd1"><input type="radio" id="rd1" name="rd1" ng-model="peopleFilterData.sex" value="1"><span></span>Женский</label><br>
              <label for="rd2"><input type="radio" id="rd2" name="rd1" ng-model="peopleFilterData.sex" value="2"><span></span>Мужской</label><br>
              <label for="rd3"><input type="radio" id="rd3" name="rd1" ng-model="peopleFilterData.sex" value="" checked="true"><span></span>Любой</label>
            </div>
            
            <div class="select" data-toggle="select-open" data-select>
              <span>{{countries.searchByThisCountry.title}}</span>
              <ul>
                <li ng-repeat="country in countries.countriesList" ng-click="changeSearchCountry($index)">{{country.title}}</li>
              </ul>
            </div>

            <div class="select" data-toggle="select-open" data-select>
              <input type="text" placeholder="Город" ng-change="requestCities(cities.searchByThisCity.title);" ng-model="cities.searchByThisCity.title">
              <ul>
                <li ng-repeat="city in cities.citiesList" ng-click="changeSearchCity($index)">{{city.title}}</li>
              </ul>
            </div>

          </div>
          <span>Найдено: {{filtered.length}}</span><br>
          <div class="user-found" ng-repeat="user in (filtered = (usersFound | peopleFilter:peopleFilterData)) | commonPublicsFilter:userData.userSubscriptions:publicCompareNumber limitTo: usersLimit">
            <a ng-href="http://vk.com/id{{user.uid}}">
              <img ng-src="{{user.photo_200}}">
              {{user.first_name}} {{user.last_name}}
            </a>
          </div>
          <a ng-click="showMore();" inactive >Показать ещё</a>
        </td>
      </tr>
    </table>
  </div>
</body>
<script src="//vk.com/js/api/openapi.js" type="text/javascript"></script>
<script type="text/javascript">
  VK.init({
    apiId: 5225238
  });
</script>
</html>