<!DOCTYPE HTML>
<html ng-app='application'>

<head>
  <meta charset="utf-8">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js" defer></script>
  <script src="js/ang.js" defer></script>
  <script src="js/script.js" defer></script>
  <link rel="stylesheet" href="css/style.css">
</head>

<body ng-controller="appController">
  <div class="wrapper">
    <table>
      <tr>
        <td>
          <form ng-submit="makeSearch()">
            <input type="text" placeholder="Ваш id" ng-model="userData.userId" pattern="^[0-9]+$" required ng-change="updateUser();" ><br>
            <div class="container labels">
              <label for="rd1"><input type="radio" id="rd1" name="rd1" ng-model="peopleFilterData.sex" value="1"><span></span>Женский</label><br>
              <label for="rd2"><input type="radio" id="rd2" name="rd1" ng-model="peopleFilterData.sex" value="2"><span></span>Мужской</label><br>
              <label for="rd3"><input type="radio" id="rd3" name="rd1" ng-model="peopleFilterData.sex" value="" checked="true"><span></span>Любой</label>
            </div>
            <div class="justify">
                <div class="select" data-toggle="select-open" data-select>
                  <span>{{searchByThisPublic}}</span>
                  <ul>
                    <li ng-repeat="public in userData.userSubscriptions" ng-click="changeSearchPublic($index)">{{public.name}}</li>
                  </ul>
                </div>
                <input type="text" ng-model="publicCompareNumber" pattern="^[0-9]+$" class="numeric">
                <input type="submit" value="Search" class="red-submit">
            </div>
          </form>
        </td>
      </tr>
      <tr>
        <td id="td3">
          <a ng-click="scrollingIndexesChange('up');">Вверх</a>
          <div class="user-found" ng-repeat="user in usersFound | peopleFilter:peopleFilterData | indexFilter:scrollingIndexes">
            <a ng-href="http://vk.com/id{{user.uid}}">
              <img ng-src="{{user.photo_200}}">
              {{user.first_name}} {{user.last_name}}
            </a>
          </div>
          <a ng-click="scrollingIndexesChange('up');">Вниз</a>
        </td>
      </tr>
    </table>
  </div>
</body>
<script src="//vk.com/js/api/openapi.js" type="text/javascript"></script>
<script type="text/javascript">
  VK.init({
    apiId: 5225238
  });
</script>
</html>